/* Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $break-wide) {
    @content;
  }
}

@mixin layoutGTC($max) {
  grid-template-columns: minmax($layoutPadding, 1fr) minmax(auto, $max) minmax(
      $layoutPadding,
      1fr
    );
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc(($height / $width) * 100%);
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  > img {
    height: 100%;
    object-fit: cover;
  }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

// Fonts
@mixin h1-large {
  font-family: Livvic-Bold;
  font-size: em(100px);
  // line-height: em(100px);
}
@mixin h1-small {
  font-family: Livvic-Bold;
  font-size: em(64px);
  // line-height: em(56px);
}
@mixin h2 {
  font-family: Livvic-Bold;
  font-size: em(48px);
  // line-height: em(48px);
}
@mixin h3 {
  font-family: Livvic-Bold;
  font-size: em(18px);
  // line-height: em(28px);
}
@mixin body-1 {
  font-family: Livvic-Semi-Bold;
  font-size: em(18px);
  // line-height: em(28px);
}
@mixin body-2 {
  font-family: Livvic-Semi-Bold;
  font-size: em(15px);
  // line-height: em(25px);
}
