//* COLORS
//background
$main-bg-color: #014e56;
// Primary
$primary-color-1: #014e56;
$primary-color-2: #f67e7e;
$primary-color-3: #ffffff;
// Secondary
$secondary-color-1: #79c8c7;
$secondary-color-2: #2c6269;
$secondary-color-3: #004047;
$secondary-color-4: #012f34;
$secondary-color-5: #002529;

// //* BORDERS
// $border-img-1: 2px solid #c4fffe;

//* LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 900px;
$break-wide: 1100px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
